version: 2

jobs:
  test_node_10:
    docker:
      - image: circleci/node:10
    steps:
      - checkout
      - run: yarn
      - run: yarn test.prod

  release:
    docker:
      - image: circleci/node:10
    steps:
      - checkout
      - run: yarn
      - run: yarn build
      - run: yarn release

workflows:
  version: 2
  test_and_release:
    jobs:
      - test_node_10
      - release:
          filters:
            branches:
              only:
                - master
                - beta
          requires:
            - test_node_10
